.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* navigation */
/* @media screen and (min-width: 1000px) {
  .nav-whole {
    margin-left: 30%;
  }
} */
.nav-custom {
  background-color: rgb(43, 173, 255);
}

/* home page */
.home-title-box {
  margin-top: 30%;
}
@media screen and (max-width: 800px) {
  .home-title-box {
    margin-top: 5%;
    padding: 2%;
  }
}
.home-banner-img {
  width: 60%;
  height: 80%;
  margin-top: 17%;
  margin-left: 35%;
}
@media screen and (max-width: 800px) {
  .home-banner-img {
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
  }
}
.featured {
  width: 90%;
  border-radius: 20px;
}
.featured-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .featured {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.trending-bag-icon {
  font-size: 30px;
  cursor: pointer;
}
.trend-box {
  width: 92%;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .trend-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
  }
}
.trend-game-describtion p {
  margin-bottom: 0.1rem; /* Adjust this value to decrease space */
}
@media screen and (max-width: 768px) {
  .top-game-box {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
}
